@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Niconne&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}

body{
    background:#111;
}

html{
    scroll-behavior: smooth;
}

.header{
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    padding: .8rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.active{
    color: #1c7ed6;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    border-bottom-right-radius: 15px;
      padding-right:5px;
}


.sticky .active{
    color: #09a6d4;
    border-bottom: 3px solid #111;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    border-bottom-color: #1c7ed6;
      padding-right:5px;
}
.sticky{
    background: #222;
    box-shadow: 3px 1px 0px #0000000b;
    transition: 1s ease;
}
.logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-family:'Niconne';
}

.sticky .logo{
    color: #fff;
}

.logo img{
    width: 53px;
    height: 53px;
}

.navbar a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    font-weight: 700px;
    font-family: 'Poppins',Helvetica, sans-serif;
    text-transform: uppercase;
}

.sticky .navbar a{
    color: #fff;
}

.icons{
    position: absolute  ;
    font-size: 2rem;
    color: #111;
    cursor: pointer;
    display: none;
    right: 0  ;
    padding-right: 20px;
}

#check{
    display: none;
}

@media (max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width:768px){
    .icons{
        display: inline-flex;
    }
    .navbar .active{
        color: #1c7ed6 !important;
        border-bottom: none;
    }

    .header{
        padding: .6rem 10%;
    }

    .icons #close-icon{
        display: none;
    }

    .logo{
        color: #fff;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #111;
        color: #fff;
        box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
        transition: o.3s ease;
        overflow: hidden;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .header::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
        opacity: 0;
        color: #fff;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
}

 .title{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding: 50px;
    padding-top: 100px;
    font-family: "Poppins",Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.grid-ish{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 80px;
}

.grid-ish > * {
    flex: 1 1 50%;
}

.column1 img{
    width: auto;
    height: 500px;
    padding: 30px;
    padding-top: 110px;
}

.column1 p{
    font-size: 13px;
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    line-height: 25px;
    padding: 0 60px;
}

.column1 h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}



.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.section-header{
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.section-header h2{
    text-transform: capitalize; 
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 1px;
}

.section-header .title{
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 1px;
}

.testimonials{
    padding: 100px 0;
}

.testimonials-item{
    background-color: #1c7ed6;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #1c7ed6;
}
.testimonials-item .info{
    display: flex;
    align-items: center;
}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    font-size: 17px;
}
.testimonials-item .job{
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;
}

.testimonials-item p{
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
}
.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: #ffc803;
}

.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: #1c7ed6;
}


.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-size: 25px;
    padding-bottom: 50px;
}

.map h1{
    color: #333;
    margin-bottom: 60px;
    margin-top: 150px;
    font-weight: 500;
}

/*----------Team Section---------*/
.row{
   
     display: flex;
     flex-wrap: wrap;
     padding: 2em 1em;
     text-align: center;
}
.column{
    width: 100%;
 
    padding: 0.5em 0;
}
.row h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.card{
    box-shadow: 0 0 2.2em rgba(15, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background:#1c7ed6;
}
.card .img-container{
    width: 8em;
    height: 8em;
    background-color:  #1c7ed6;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}
.card img{
    width: 100%;
    border-radius: 50%;
}
.card h3{
    font-weight: 500;
}
.card p{
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}
.iconns{
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
}
.card:hover{
    background: linear-gradient( #1c7ed6, #8577f7);
    color: #fff;
}
.card:hover .img-container{
    transform: scale(1.15);
}

@media screen and (min-width:768px) {
   section{
    padding: 1em 7em;
   } 
}

@media screen and (min-width:992px) {
    section{
        padding: 1em;
    }
    .card{
        padding: 5em 1em;
    }
    .column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}

/*---------Foooter Sectio------*/



footer{
    position: relative;
    width:100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  font-family:'Poppins';
 margin-top:200px;
 }
 footer .social_icon,
 footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
 }
 
 footer .social_icon li, 
 footer .menu li{
    list-style: none;
 }
 
 footer .social_icon li a{
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
 }
 
 footer .social_icon li a:hover{
    transform: translateY(-10px);
 }
 
 footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
 }
 
 footer .menu li a:hover{
    opacity: 1;
 }
 
 footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
   
 }
 
 footer .wave{
    position: absolute;
    top: -100px;
    left: 0px   ;
    width: 100%;
    height: 100px;
    background:url('wave.png');
    background-size: 1000px 100px;
 }
 
 footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
 }
 
 footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
 }
 
 footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
 }
 
 footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
 }
 @keyframes animateWave 
 {
    0%{
       background-position-x: 100px;
    }
 
    100%{
       background-position-x: 0px;
    }
 }
 
 @keyframes  animateWave_02
 {
    0%{
       background-position-x: 0px;
    }
 
    100%{
       background-position-x: 1000px;
    }
 }
 

@media only screen and (max-width:400px){

   .column1 img{
    width: 350px;
    height: auto;
    padding: 0;
    margin-top:80px;
}

.column1 h2{
    font-size: 25px;
}
.grid-ish{
    overflow: hidden;
}

.title{
    font-size: 30px;
}
.map h1{
    font-size: 30px;
}
.section-header h2{
    font-size: 25px;
}
iframe{
    width: 80%;
    height: 600px;
}
}




/*----------SVG---------*/

.curved-div {
  position: relative;
  background:url('Amaka/am1\ \(21\).jpg');
  background-position: center;
  background-size: cover;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  transition: 6s ease;
  animation: transitionIn 6s;
}
.curved-div svg {
  display: block;
}
.curved-div.upper {
  background: #111;
}
.curved-div h1 {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top:12rem;
  transition: 6s ease;
  animation: transitionIn 6s;
}
.curved-div p {
  font-size: 2rem;
  margin:0 5rem 0rem 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@keyframes transitionIn {
    from{
       opacity: 0;
       transform: translateY(-10%);
    }
  
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }





