@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}

body{
    background:#FFF ;
}   

html{
    scroll-behavior: smooth;
}
.header{
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    padding: .8rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.active{
    color: #1c7ed6;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    border-bottom-right-radius: 15px;  padding-right:5px;
}


.sticky .active{
    color: #09a6d4;
    border-bottom: 3px solid #111;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    border-bottom-color: #1c7ed6;  padding-right:5px;
}
.sticky{
    background: #fff;
    box-shadow: 3px 1px 0px #0000000b;
    transition: 1s ease;
}
.logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

.sticky .logo{
    color: #090909de;
}

.logo img{
    width: 53px;
    height: 53px;
}

.navbar a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
   
    font-weight: 700px;
    font-family: 'Poppins',Helvetica, sans-serif;
    text-transform: uppercase;
}

.sticky .navbar a{
    color: #090909de;
}

.icons{
    position: absolute  ;
    font-size: 2rem;
    color: #111;
    cursor: pointer;
    display: none;
    right: 0  ;
    padding-right: 20px;
}

#check{
    display: none;
}

@media (max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width:768px){
    .icons{
        display: inline-flex;
    }
    .navbar .active{
        color: #1c7ed6 !important;
        border-bottom: none;
    }

    .header{
        padding: .6rem 10%;
    }

    .icons #close-icon{
        display: none;
    }

    .logo{
        color: #090909de;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #fff;
        color: #111;
        box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
        transition: o.3s ease;
        overflow: hidden;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .header::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
        opacity: 0;
        color: #111;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
}
.sub-menu{
    display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 0px 0px 0px rgba(16, 16, 16, 0.2);
  z-index: 10;
  transform: translateX(50px);
  transition: hover 0.5s;
  margin-top: 20px;
}

.sub-menu a{
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: #090909c8;
}

.tab-titles{
    display: flex;
    margin: 0px 0 40px;
    align-items: center;
    justify-content: center;
    text-align: center;font-family: "Josefin Sans";
    flex-wrap: wrap;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background:#fff;
    padding: 5px 10px;
    color: #090909de;
    border-radius: 30px;
    font-family: "Poppins";
    margin-top: 0px;
    
}

.active-link{
    background: #1c7ed6;
    color: #fff;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-family: "Josefin Sans";
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
    font-family: "Josefin Sans";
}

.tab-contents{
    display: none;
    animation: transitionIn 3s;
}

@keyframes transitionIn {
    from{
       opacity: 0;
       transform: translateY(-1%);
    }

    to{
      opacity: 1;
      transform: translateY(0);
    }
}
.tab-contents.active-tab{
    display: block;
    justify-content: center;
    text-align: center;
    font-family: "Poppins";
    padding: 20px 100px;
}



.grid-wrap ul, li{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.grid-wrap{
    position: relative;
    margin: 0;
    padding: 10px;
}

.grid-wrap ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15px,auto));
    grid-auto-flow: dense;
    grid-gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.grid-wrap ul li{
    position: relative;
}

.grid-wrap ul li:nth-child(1){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(2){
    grid-row: span 2 ;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(3){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(4){
    grid-row: span 4;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(5){
    grid-row: span 4;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(6){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(7){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(8){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(9){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(10){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(11){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(12){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(13){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(14){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(15){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(16){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(17){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(18){
    grid-row: span 4;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(19){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(20){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(21){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(22){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(23){
    grid-row: span 2;
    grid-column: span 7;
}
.grid-wrap ul li:nth-child(24){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(25){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(26){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(27){
    grid-row: span 2;
    grid-column: span 7;
}

.grid-wrap ul li:nth-child(28){
    grid-row: span 2;
    grid-column: span 7;
}


.grid-wrap ul li:nth-child(29){
    grid-row: span 2;
    grid-column: span 7;
}




.grid-wrap ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px;
}

.grid-wrap ul li:hover{
    filter: opacity(0.9);
    transition: 1s;
    cursor: pointer;
    scale: 1.1;
}


.grid-wrap2 ul, li{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.grid-wrap2{
    position: relative;
    margin: 0;
    padding: 10px;
}

.grid-wrap2 ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,auto));
    grid-auto-flow: dense;
    grid-gap: 25px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.grid-wrap2 ul li{
    position: relative;
}

.grid-wrap2 ul li:nth-child(1){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(2){
    grid-row: span 1 ;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(3){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(4){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(5){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(6){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(7){
    grid-row: span 1;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(8){
    grid-row: span 1;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(9){
    grid-row: span 1;
    grid-column: span 7;
}


.grid-wrap2 ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px;
}

.grid-wrap2 ul li:hover{
    filter: opacity(0.9);
    transition: .2s;
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
}

.grid-wrap2 ul, li{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.grid-wrap2{
    position: relative;
    margin: 0;
    padding: 10px;
}

.grid-wrap2 ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,auto));
    grid-auto-flow: dense;
    grid-gap: 25px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.grid-wrap2 ul li{
    position: relative;
}

.grid-wrap2 ul li:nth-child(1){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(2){
    grid-row: span 1 ;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(3){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(4){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(5){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(6){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(7){
    grid-row: span 1;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(8){
    grid-row: span 1;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(9){
    grid-row: span 1;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(10){
    grid-row: span 1;
    grid-column: span 7;
}
.grid-wrap2 ul li:nth-child(11){
    grid-row: span 1;
    grid-column: span 7;
}

.grid-wrap2 ul li:nth-child(12){
    grid-row: span 1;
    grid-column: span 7;
}


.grid-wrap2 ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px;
}

.grid-wrap2 ul li:hover{
    filter: opacity(0.9);
    transition: .2s;
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
}



.grid-wrap4 ul, li{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.grid-wrap4{
    position: relative;
    margin: 0;
    padding: 10px;
}

.grid-wrap4 ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30px,auto));
    grid-auto-flow: dense;
    grid-gap: 25px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.grid-wrap4 ul li{
    position: relative;
}

.grid-wrap4 ul li:nth-child(1){
    grid-row: span 1;
    grid-column: span 8;
}

.grid-wrap4 ul li:nth-child(2){
    grid-row: span 1 ;
    grid-column: span 5;
}
.grid-wrap4 ul li:nth-child(3){
    grid-row: span 1;
    grid-column: span 5;
}

.grid-wrap4 ul li:nth-child(4){
    grid-row: span 1;
    grid-column: span 5;
}

.grid-wrap4 ul li:nth-child(5){
    grid-row: span 1;
    grid-column: span 5;
}


.grid-wrap4 ul li:nth-child(6){
    grid-row: span 1;
    grid-column: span 5;
}

.grid-wrap4 ul li:nth-child(7){
    grid-row: span 1;
    grid-column: span 5;
}

.grid-wrap4 ul li:nth-child(8){
    grid-row: span 1;
    grid-column: span 8;
}

.grid-wrap4 ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px;
}

.grid-wrap4 ul li:hover{
    filter: opacity(0.9);
    transition: 1s;
    cursor: pointer;
    scale: 1.1;
}


footer *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 
 footer ul{
    list-style: none;
 }
 
 footer{
    color: #fff;
    background-color:#f1f1f172;
    margin-top:20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #1111110f;
    padding-top: 30px;
    font-family: 'Poppins';
 }
 
 
 footer p{
    color: #111;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
    font-weight: 500;
    padding-bottom: 20px;
 }
 
 footer a{
    color: #111;
    text-decoration: none;
    font-weight: 500;
 }
 
 
 .brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 50px;
 }
 
 .media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
 }
 
 .container ul .amigo li{
    display: inline-block;
 }
 .media-icons a{
    font-size: 25px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ;
    display: inline-block;
 }
 
 
 
 .footer4 .menu a{
    transition: 0.3s;
    font-weight: 600;
    color: #111;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
 }
 
 
 
 .footer4{
    text-align: center;
 }
 .footer4 .menu li{
    display: inline-block;
    margin: 0.7em;
    text-align: center;
 }
 
 .footer4 p{
    margin: 0 auto;
 }
 .footer4 .media-icons{
    margin: 1.5em 0 ;
    display: inline-block;
 }



.explore{
    margin-top: 50px;
    text-align: center;
    background: #1c7ed6;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    justify-content: center;
}
